@charset "utf-8";

/* Stylesheet for CSC230 Website Design Final Exam
   Author: Justin Cuevas
   Date:   12/09/2024
   Filename: finalExam.css
   Required Files: N/A
*/

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 16pt;
    width: 85%;
    margin: auto;
    background-color: rgb(115,151,187);
  }
  
  header {
    background-color: rgb(255,240,185);
    height: 300px;
  }
  
  header h1 {
    font-size: 36pt;
    margin: 35px 0px 0px 0px;
    padding: 15px 0px 0px 15px;
    background-color: rgb(255,240,185);
  }
  
  header > h3 {
    font-size: 24pt;
    margin: 0px;
    padding: 0px 0px 15px 15px;
    background-color: rgb(255,240,185);
    text-align: left;
  }

  h3 {
    font-family: Arial;
    font-size: 16pt;
    /* text-align: left; */
    text-align: center; 
    background-color: rgb(255,240,185); 
  }
  
  header img {
    clear: both;
    display: block;
    float: right;
    padding-top: 2%;
  }
  
  header p {
    margin: 0px;
    padding: 15px 0px 0px 15px;
  }
  
  h1 {
    font-family: Arial;
    font-size: 22pt;
    text-align: left;
    letter-spacing: 2px;
    margin: 0px;
    padding: 15px 0px 0px 15px;
    background-color: slategray;
  }
  

  
  p {
    margin: 15px;
    padding: 15px;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    color: #06e;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    margin-left: 30px;
    background-color: rgb(255,240,185);
    font-size: 0.90em;
  }
  
  th, td {
    padding: 2px, 5px, 2px, 5px;
    vertical-align: top;
  }

  th {
    background-color: darkblue;
  }


















  nav {
    background-color: rgb(255,240,185);
    color: blue;
    text-align: center;
    width: 25%;
    margin: 0px;
    padding: 0px;
    height: auto;
    float: left;
    clear: both;
  }
  
  nav ul {
    list-style-type: none;
  }

  #aboutMe {
    background-color: rgb(255,240,185);
    width: 75%;
    padding: 15px;
    display: block;
    clear: both;
    float: right;
  }


  
  footer {
    width: 96%;
    clear: left;
    text-align: center;
    font-size: 0.75em;
    margin-top: 30px;
    background-color: rgba(255,240,185);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  #myLinks {
    background-color: rgb(255,240,185);
    width: 75%;
    padding: 15px;
  }

  #myLinks > ul {
    list-style-type: none;
  }